<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<h1>Welcome to TinyApp!</h1>
    <form method="POST" action="/urls/9sm5xK/delete">
      <ul>
      <p><%= urls["b2xVn2"] %> <button type="delete">Delete</button> </p>
      <p><%= urls["9sm5xK"] %> <button type="delete">Delete</button> </p>
      <!-- add edit buttons!!! -->
      </ul>
    </form>
</body>
</html>
