<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
    <h1>Welcome to TinyApp!</h1>
    <form method="POST" action="/urls/9sm5xK/delete">
      <ul>
        <li><%= urls["b2xVn2"] %><button type="delete">Delete</button><button type="edit">Edit</button></li>
        <li><%= urls["9sm5xK"] %><button type="delete">Delete</button><button type="edit">Edit</button></li>
      </ul>
    </form>
  </body>
</html>
