<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<h1>Welcome to TinyApp Registration!</h1>
    <form method="POST" action="/register">
      <p>
        <label for="email">Email</label>
        <input type="email" name ="email">
        <label for="password">Password</label>
        <input type="password" name="password">
        <button type="submit">Submit</button>
      </p>
    </form>
</body>
</html>
