<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<h1>Welcome to TinyApp Registration!</h1>
    <form method="POST" action="/register">
      <p>
        <lable for="email">Email</lable>
        <input type="email" name ="email">
        <lable for="passtword">Password</lable>
        <input type="password" name="password">
    </form>
</body>
</html>
